.subnav {
  padding: 10px 14px;

  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 10px;
    line-height: 24px;

    &:last-child {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  &__arrow {
    width: 12px;
    height: 12px;
    background-image: url(../../img/arrow-up.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    cursor: pointer;
  }
}