.subnav {
  position: relative;
  padding: 10px 14px;
  background-color: #fff;

  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 10px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;


    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &:last-child {
      display: flex;
      align-items: center;
      gap: 5px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__arrow {
    width: 12px;
    height: 12px;
    background-image: url(../../img/arrow-up.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    cursor: pointer;
  }

  &-options {

  }
}