.subnav {
  position: relative;
  padding: 10px 14px;
  background-color: #fff;

  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 10px;
    height: 24px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &:last-child {
      display: flex;
      align-items: center;
      gap: 5px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__arrow {
    width: 12px;
    height: 12px;
    background-image: url('../../../img/icons/arrow-up.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    cursor: pointer;
  }

  &__dropdown {
    position: absolute;
    top: 60px;
    left: 610px;
    width: 250px;
    height: 170px;
    padding: 7px 0;

    background-color: #fff;
    box-shadow: rgba(0, 30,0, 0.15) 0 0 10px 2px;

    &::before {
      position: absolute;
      top: -7px;
      left: 219px;
      content: "";
      background-color: #fff;
      border: 8px solid transparent;
      transform: rotateZ(135deg);
      box-shadow: -2px 2px 3px rgba(57,73,76,.1);;
    }
  }
}