.fortalent {
  display: flex;
  box-sizing: border-box;
  padding: 50px 64px 0;
  background-color: antiquewhite;
  width: 1408px;
  height: 730px;
  color: #fff;

  &__image {
    width: 640px;
    height: 100%;
    background-color: rgb(162, 177, 177);
  }

  &__content {
    box-sizing: border-box;
    width: 640px;
    padding: 30px;
    height: 100%;
    background-color: rgb(38, 87, 195);
  }

  &__info {
    box-sizing: border-box;
    height: 382px;
    padding-bottom: 100px;
    margin-bottom: 60px;
  }

  &__headline {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.048px;
  }

  &__title {
    margin: 0 0 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.16px;
  }

  &__text {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.09px;
  }


  &__divider {
    border-bottom: 1px solid #fff;
    margin: 18px 0;
  }
}