
body {
  margin: 0;
  color: #001e00;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.app {
  &__header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
  }
}