
body {
  margin: 0;
  color: #001e00;
  letter-spacing: 0.4px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.app {
  display: flex;
  flex-direction: column;

  &__header {
    position: sticky;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
  }

  &__subnav {
    position: sticky;
    z-index: 1;
    top: 64px;
  }

  &__main {
    box-sizing: border-box;
    padding: 0 64px 100px;
    max-width: 1600px;

    @media (min-width: 1700px) {
      margin: 0 auto;
    }
  }

  &__rebrandhero {
    margin: 41px 0 80px;
  }

  &__howtohire {
    margin: 0 0 64px;
  }

  &__category {
    margin: 0 0 80px;
  }

  &__enterprise {
    margin: 50px 0;
  }

  &__deliver {
    margin-top: 50px;
  }

  &__whyupwork {
    margin: 100px 0 0 0;
  }


  &__testimonials {
    margin: 85px 0 0;
  }

  &__ukraine {
    margin-top: 100px;
  }

  &__footer {
    align-self: center;
  }
}