.deliver {
  box-sizing: border-box;
  width: 1280px;
  height: 616px;
  padding: 30px;
  color: #fff;
  background-color: rgb(59, 63, 41);
  border-radius: 8px;

  &__cards {
    display: flex;
    gap: 32px;
  }

  &__card {
    box-sizing: border-box;
    width: 385px;
    height: 148px;
    padding: 17px;
    background-color: #108a00;
    border-radius: 8px;

    &-title {
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 36px;
      letter-spacing: -0.072;
    }

    &-name {
      display: flex;
      
    }
  }
}