.loginmenu {
  display: flex;
  align-items: center;

  &__login {
    font-size: 14px;
    padding: 0 20px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
  
  &__signup {
    box-sizing: border-box;
    font-size: 14px;
    padding: 0 24px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: #008a00;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    
    &:hover {
      background-color: rgb(20, 138, 0);
    }
  }
}