.testimonials {
  position: relative;
  box-sizing: border-box;
  width: 1280px;
  overflow: hidden;

  &__title {
    margin: 0 0 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.3px;
  }

  &__banners {
    display: flex;
    gap: 30px;
    transition: transform 500ms;

    &--toLeft {
      transform: translateX(-42.5%);
    }
  }

  &__banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;

    box-sizing: border-box;
    width: 588px;
    height: 450px;
    padding: 25px;
    border-radius: 10px;
    transition: opacity 500ms;

    &--disabled {
      opacity: 0.3;
    }

    &--nasdaq {
      background-color: #13544e;
    }

    &--microsoft {
      background-color: #bc511b;
    }

    &--last {
      background-position: center;
      background-size: cover;
      background-image: url('../../../img/images/home-desk-image.jpg')
    }
  }

  &__logo {
    margin-bottom: 20px;
    width: 200px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &--nasdaq {
      background-image: url('../../../img/icons/nasdaq-light.svg');
    }

    &--microsoft {
      background-image: url('../../../img/icons/microsoft-lg-light.svg');
    }
  }

  &__desc {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 25px;
    letter-spacing: -0.65px;
    color: #fff;
  }

  &__author {
    color: #d5e0d5;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 23px;
  }

  &__text {
    color: #d5e0d5;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 22px;
  }

  &__divider {
    margin: 12px 0 17px;
    border-bottom: 1px solid #fff;
  }

  &__results {
    display: flex;
  }

  &__result {
    padding-right: 40px;
    flex-grow: 1;
    width: 0;

    &-title {
      margin-bottom: 13px;
      color: #fff;
      font-size: 26px;
      line-height: 25px;
      letter-spacing: -0.78px;
    }
  }

  &__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 205px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 2px solid #666b66;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #f0e8e8;
    }
    
    &--right {
      left: 1238px;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../../img/icons/arrow-right-green.svg');

    &--left {
      transform: rotateY(180deg);
    }
  }
}