.whyupwork {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 1280px;
  height: 634px;
  
  &__image {
    position: absolute;
    left: 580px;
    top: -50px;
    width: 360px;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/whyupwork-image.png');
  }

  &__gray {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 832px;
    padding: 50px 0 50px 32px;
    height: 100%;
    margin-right: 29px;
    border-radius: 8px;
    background-color: rgb(242, 245, 242);
  }

  &__title {
    margin: 30px 0;
    font-size: 72px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -2.16px;
    line-height: 72px;
    font-weight: 600;
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 310px;
  }

  &__item {
    display: flex;
    height: 120px;
  }

  &__icon {
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &-container {
      width: 20px;
      height: 115px;
      margin: 5px 15px 0 0;
    }

    &-bg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background-color: #001e00;;
      border-radius: 50%;
    }


    &--star {
      background-image: url('../../img/star-white.svg');
    }

    &--money {
      width: 13px;
      height: 13px;
      background-image: url('../../img/dollar-icon.svg');
    }

    &--check {
      background-image: url('../../img/check-icon.svg');
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__proof-title {
    margin: 0 0 10px;
    font-size: 36px;
    letter-spacing: 0.18px;
    line-height: 36px;
    font-weight: 500;
  }

  &__proof-text {
    margin-bottom: 30px;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 22px;
    color: rgb(94, 109, 85);
  }

  &__green {
    background-color: rgb(20, 168, 0);
    width: 419px;
    height: 100%;
    border-radius: 8px;
    color: #fff;
  }

  &__awards {
    box-sizing: border-box;
    display: flex;
    padding: 50px 0;
    height: 100%;
    
    &-area {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      box-sizing: border-box;
      padding-left: 32px;
      margin-bottom: 30px;
      height: 273px;
      width: 345px;
    }

    &-maintitle {
      margin: 0 0 30px;
      font-size: 33px;
      line-height: 33px;
      letter-spacing: 0.165px;
      font-weight: 600;
    }

    &-item {
      display: flex;
      height: 73px;

      &:last-child {
        height: 71px;
      }
    }
    
    &-icon {
      width: 39px;
      height: 39px;
      background-position: center;
      background-size: 135%;
      background-repeat: no-repeat;

      &--star {
        background-image: url('../../img/star-white.svg');
      }

      &--g2 {
        width: 30px;
        height: 30px;
        background-size: contain;
        background-image: url('../../img/g2-icon.svg');
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
    }

    &-title {
      margin: 0 0 10px;
      letter-spacing: 0.165px;
      font-size: 33px;
      line-height: 33px;
      font-weight: 400;

      //last-child was not working
      &--second {
        font-size: 38px;
        line-height: 38px;
        letter-spacing: 0.19px;
      }
    }

    &-text {
      margin-bottom: 8px;
      letter-spacing: -0.06px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}