.nav {
  display: flex;

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    color: #001E00;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 3px 10px 10px;
    line-height: 22px;
    letter-spacing: 0.35px;

    &:first-child {
      padding-left: 10px;
    }

    &--active {
      color: rgb(20, 168, 0);
    }
  }

  &__arrow {
    width: 12px;
    height: 12px;
    background-image: url(../../img/arrow-up.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 200ms;
    transform: rotate(180deg);
    margin-right: 10px;
    cursor: pointer;

    &--active {
      transform: rotate(0);
    }
  }
}