.nav {
  display: flex;

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {}

  &__link {
    color: #001E00;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 3px 10px 10px;

    &:first-child {
      padding-left: 10px;
    }
  }
}